pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.7rem;
  line-height: 1.4;
  white-space: pre;
  overflow: auto;
  background-color:#eee;
  border: 1px solid #ddd;
  padding: .5rem;
  max-height: 800px;
  font-family: monospace;
  code {
    color: inherit;
    background-color: transparent;
    padding: 0;
    display: block;
  }
  .line-number {
    display: block;
    float: left;
    margin: 0 1em 0 -1em;
    border-right: 1px solid #ddd;
    text-align: right;
    span {
      display: block;
      padding: 0 .5em 0 1em;
      color: #ccc;
    }
  }
  .cl {
    display: block;
    clear: both;
  }
}
